<<<<<<< HEAD
<div class="jumbotron jumbotron-fluid"
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenue <%= @name%>! </h1>
        <p class="lead"> Ici c'est notre super site de potins, il est chouette, non ?</p>
      </main>
      <footer class="mastfoot mt-auto">
      </footer>
    </div>
    </div>
=======
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
>>>>>>> application_header
