<body class="text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        
        <p class="lead"> My gossip title: <%= @goss_id.title%> </p>
        <p class="lead"> My gossip content: <%= @goss_id.content%> </p><br><br>
        <p class="lead"> My gossip user: <%= @goss_id.user.first_name%> <%= @goss_id.user.last_name%></p>
      </main>
      <footer class="mastfoot mt-auto">
      </footer>
    </div>
</body>