<body class="text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Page de bienvenue</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="/team">Team</a>
            <a class="nav-link" href="/contact">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">bienvenue <%= @name%> ! Ici c'est notre super site de potins, il est chouette, non ?</h1>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>
</body>