<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      
        <nav class="nav nav-masthead">            
          <p class="nav-link active"> <%= link_to "Team", "/team"%> </p>
          <p class="nav-link active"> <%= link_to "Contact", "/contact"%> </p>
        </nav>
    </div>
  </header>
</div>